###############################
# Core EditorConfig Options   #
###############################

root = true

# All files
[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Code files (.NET)
[*.{cs,csx,vb,vbx}]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

[*.{yml,json,config,yaml}]
indent_size = 2
indent_style = space
